<div class="gtitle"></div>
<div class="outer-container">
    <div class="act-container">
        <div class="act-head">
            <img src="img/activity3/b-act1.jpg" style="display:block"/>
            <img src="img/activity3/b-act2.jpg" style="display:block"/>
            <a ng-click="gotoBottom()"><img src="img/activity3/b-act3.jpg" style="display:block"/></a>
            <a href="goods.html?id=160030"><img src="img/activity3/b-act4.jpg" style="display:block"/></a>
            <a href="goods.html?id=160031"><img src="img/activity3/b-act5.jpg" style="display:block"/></a>
            <a href="goods.html?id=160032"><img src="img/activity3/b-act6.jpg" style="display:block"/></a>
            <a href="goods.html?id=160030"><img src="img/activity3/b-act7.jpg" style="display:block"/></a>
            <img src="img/activity3/b-act8.jpg" style="display:block"/>
            <a href="goods.html?id=160030"><img src="img/activity3/b-act9.jpg" style="display:block"/></a>
            <a href="goods.html?id=160030"><img src="img/activity3/b-act10.jpg" style="display:block"/></a>
            <a href="goods.html?id=160031"><img src="img/activity3/b-act11.jpg" style="display:block"/></a>
            <a href="goods.html?id=160032"><img src="img/activity3/b-act13.jpg" style="display:block"/></a>
            <img src="img/activity3/b-act14.jpg" id="bottom" style="display:block"/>
        </div>
    </div>
</div>