<div class="gtitle"></div>
<div class="outer-container">
    <div class="act-container">
        <div class="act-head">
            <img src="img/activity2/a-act1.jpg" style="display:block"/>
            <img src="img/activity2/a-act2.jpg" style="display:block"/>
            <a class="hot-link" href="goods.html?id=160025" style="left:9.79%; top:92.23%; width:38.54%; height:11.43%;"></a>
            <a class="hot-link" href="goods.html?id=160025" style="left:51.25%; top:92.23%; width:38.75%; height:11.18%;"></a>
            <img src="img/activity2/a-act3.jpg" style="display:block"/>
            <div style="position: relative">
                <img src="img/activity2/a-act4.jpg" style="display:block"/>
                <a class="hot-link" style="left:62.50%; top:76.73%; width:29.20%; height:18.21%;" ng-click="gotoBottom()"></a>
            </div>
            <img src="img/activity2/a-act5.jpg" style="display:block"/>
            <img src="img/activity2/a-act6.jpg" style="display:block"/>
            <img src="img/activity2/a-act7.jpg" style="display:block"/>
            <img src="img/activity2/a-act8.jpg" style="display:block"/>
            <img src="img/activity2/a-act9.jpg" style="display:block"/>
            <img src="img/activity2/a-act10.jpg" style="display:block"/>
            <img src="img/activity2/a-act11.jpg" style="display:block"/>
            <img id="bottom" src="img/activity2/a-act12.jpg" style="display:block"/>

        </div>
    </div>
</div>