<div class="gtitle"></div>
<div class="container">
    <div class="shopgood">
        <div class="leftMenu">
            <ul class="leftMenuContent">
                <li class="left_li active">手机数码</li>
                <li class="left_li">电脑办公</li>
                <li class="left_li">潮流女装</li>
                <li class="left_li">家用电器</li>
                <li class="left_li">水果蔬菜</li>
                <li class="left_li">肉禽蛋奶</li>
            </ul>
        </div>
        <div class="listhidden">
            <div class="foodlist"></div>
        </div>
    </div>
</div>

