<div class="swiper-container">
    <div class="swiper-wrapper" id="headimg"></div>
    <div class="swiper-pagination fraction"></div>
</div>
<div class="head-view">
    <div class="box-y">
        <div class="box-y-img">
            <a href="#news">
                <img src="img/news.jpg" class="bai weatherimg">
            </a>
            <a href="#expect">
                <p class="box-y-text">头条新闻</p>
            </a>
        </div>
    </div>
    <div class="box-y">
        <div class="box-y-img">
            <a class="attentionto">
                <img src="img/xin.png" class="bai weatherimg" id="myattention">
            </a>
            <a class="attentionto">
                <p class="box-y-text">我的关注</p>
            </a>
        </div>
    </div>
    <div class="box-y">
        <div class="box-y-img">
            <a href="#weather">
                <img src="img/weather.jpeg" class="bai weatherimg">
            </a>
            <a href="#expect">
                <p class="box-y-text">小刀天气</p>
            </a>
        </div>
    </div>
    <div class="box-y">
        <div class="box-y-img">
            <a href="#classify">
                <img src="img/yt1.png" class="bai">
            </a>
            <a href="#classify">
                <p class="box-y-text">综合分类</p>
            </a>
        </div>
    </div>
</div>
<a href="javascript:void 0">
    <div class="news">
        <a href="#news"><span class="newsp"></span></a>
        <a href="#news"><span class="znew">最新</span></a>
        <ul class="newslist"></ul>
    </div>
</a>
<div class="gray"></div>
<div class="timego">
    <a href="#seckill">
        <div class="xd-qtime">
            <div class="timetitle">
                <i class="iconfont inao">&#xe623;</i><span>限时秒杀</span>
            </div>
            <p>限时限量汇全网假货</p>

            <div id="clock" class="clock">
                <span id="d" class="clockb">00</span>
                <em class="dot">:</em>
                <span id="h" class="clockb">00</span>
                <em class="dot">:</em>
                <span id="m" class="clockb">00</span>
                <em class="dot">:</em>
                <span id="s" class="clockb">00</span>
            </div>
            <img src="img/qiang.png" style="width: 100%;"/>
        </div>
    </a>
    <div class="ctop">
        <a href="#seckill"><div class="ctop-1"><img src="img/c1.png" class="bai"/></div></a>
        <a href="#seckill"><div class="ctop-2"><img src="img/c1-1.jpeg" class="bai"/></div></a>
    </div>
    <div class="cbottomall">
        <a href="#seckill"><div class="cbottom1"><img src="img/c2.jpg" class="bai"/></div></a>
        <a href="#seckill"><div class="cbottom2"><img src="img/c3.jpg" class="bai"/></div></a>
    </div>
    <div style="clear: both"></div>
</div>
<div class="guntu">
    <div class="guncontainer">
        <div class="swiper-container2">
            <div class="swiper-wrapper" id="starimg"></div>
        </div>
        <div class="swiper-pagination2"></div>
    </div>
</div>
<div class="tuijian">
    <div class="tjcontainer">
        <div class="tjtitle">
            <h4 class="htj"><i class="iconfont inao">&#xe625;</i>掌上秒杀</h4>
            <a class="tjmore" href="#seckill">更多秒杀<i class="iconfont">&#xe61c;</i></a>
        </div>
    </div>
    <a href="#seckill">
        <div class="swiper-container1" style="overflow: hidden;">
            <div class="swiper-wrapper" id="tejiaswiper"></div>
        </div>
    </a>
</div>
<div class="gray-s"></div>
<div class="gray-1">
    <div class="gray-text">
        <span class="gray-layout"><i class="iconfont inao">&#xe61e;</i>为您推荐</span>
    </div>
    <div style="clear: both"></div>
</div>
<div class="wntj">
    <ul class="tuijianul"></ul>
</div>
<div class="ing">加载中..</div>
<div class="di"></div>
<div backtop ></div>
