<div class="gtitle"></div>
<div id="mcontainer">
    <div id="mtou">
        <a href="javascript:;" id="mdata">
            <img src="img/boy.jpg" id="mboy"/>
        </a>
        <a href="javascript:;" id="mname"></a>
    </div>
    <div id="money">
        <div id="guagua" class="mw" style="border-right:none;">
            <div id="guagua1">0<span class="small">张</span></div>
            <i class="iconfont ifont">&#xe617;</i><span>刮刮金券</span>
        </div>
        <div id="jifen" class="mw">
            <div id="jifen1">0<span class="small">分</span></div>
            <i class="iconfont ifont">&#xe61a;</i><span>商城积分</span>
        </div>
        <div id="yue" class="mw">
            <div id="yue1">0<span class="small">元</span></div>
            <i class="iconfont ifont">&#xe614;</i><span>我的钱包</span>
        </div>
    </div>
    <div id="mgouwu">
        <div id="mding" class="mglist"><i class="iconfont ifont">&#xe615;</i><span>我的订单</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
        <div id="mping" class="mglist"><i class="iconfont ifont">&#xe618;</i><span>我的评价</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
        <div id="mshou" class="mglist"><i class="iconfont ifont">&#xe613;</i><span>我的收藏</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
        <div id="mdizhi" class="mglist" style="border-bottom: none"><i class="iconfont ifont">
            &#xe619;</i><span>我的地址</span><i class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
    </div>
    <div id="mbz">
        <div id="mhelp" class="mglist"><i class="iconfont ifont">&#xe616;</i><span>帮助与反馈</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
        <div id="more" class="mglist"><i class="iconfont ifont">&#xe604;</i><span>更多</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
        <div id="zhuxiao" class="mglist"><i class="iconfont ifont">&#xe635;</i><span>注销</span><i
                class="iconfont ifont myou" style="margin: 0">&#xe61c;</i></div>
    </div>
</div>