<!--<nav>
    <div id="box2">
        <a href="#index" id="back" onclick=""><i class="iconfont">
            &#xe621;</i></a>
        <input type="text" id="key" placeholder="小刀商城，百件商品等你来拿！"/>
        <a href="javascript:void(0);" id="sousuo"><i class="iconfont">
            &#xe605;</i></a>
    </div>
</nav>-->
<div class="gtitle"></div>
<div class="hot">
    <div class="first">
        <span id="wen1">热门商品</span>
        <a id="huan"><i class="iconfont ifont">&#xe609;</i>换一批</a>
        <ul id="shangpin">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="show">
    <div id="history">
        <span id="wen2">搜索历史</span>
        <a id="clear"><i class="iconfont ifont">&#xe608;</i>清空</a>
        <ul id="hislist">
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
            <li><i class="iconfont ifont">&#xe612;</i><span></span></li>
        </ul>
    </div>
</div>