<div class="weatherindex">
    <div class="search_page" style="display: none;">
        <div class="head">
            <div class="return"></div>
            <div class="box">
                <em><input type="text" placeholder="请输入城市名" class="js_input"></em>
                <span class="js_clean"></span>
            </div>
        </div>
        <div class="js_search_tips">
            <p>当前城市</p>
            <ul>
                <li class="active1 bcity">北京</li>
            </ul>
        </div>
        <div class="js_search_tips">
            <p>热搜城市</p>
            <ul>
                <li>北京</li>
                <li>上海</li>
                <li>广州</li>
                <li>深圳</li>
                <li>杭州</li>
                <li>沈阳</li>
                <li>大连</li>
            </ul>
        </div>
    </div>
    <div class="weatherheader">
        <div class="nav_btn js_nav_btn"><a href="#index"><i class="iconfont weai">&#xe60b;</i></a></div>
        <div id="t-city">
            <div class="search_btn js_search_btn"></div>
            <div class="city">北京市</div>
        </div>
    </div>
    <div class="info_box">
        <div id="head_bg" class="head_bg"></div>
        <div class="info">
            <div class="info_wea" id="info_wea"></div>
            <div class="info_about">
                <em></em>
                <p></p>
                <p></p>
            </div>
            <div class="info_aqi">
                <ul>
                    <li>
                    <span class="info_warn">
                        <img src="img/weather/ye.png">
                    </span>
                        <strong></strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="days">
        <div class="single">
            <div>
                <em>今天</em>
                <span></span>
                <b></b>
            </div>
            <div>
                <strong></strong>
                <img src="">
            </div>
        </div>
        <div class="single">
            <div>
                <em>明天</em>
                <b></b>
            </div>
            <div>
                <strong></strong>
                <img src="">
            </div>
        </div>
    </div>
    <div class="aqi_warp">
        <div class="head">污染物</div>
        <div class="chart">
            <ul>
                <li>
                    <em>PM2.5</em>
                    <span></span>
                </li>
                <li>
                    <em>NO<sub>2</sub></em>
                    <span></span>
                </li>
                <li>
                    <em>SO<sub>2</sub></em>
                    <span></span>
                </li>
                <li>
                    <em>O<sub>3</sub></em>
                    <span></span>
                </li>
                <li>
                    <em>CO</em>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="aqi_tips">
        <div class="head">小刀天气贴士</div>
        <div class="api_text"><span class="weather-g"></span><span></span></div>
        <div class="api_text"><span class="weather-r"></span><span></span></div>
        <div class="api_text"><span class="weather-o"></span><span></span></div>
        <div class="api_text"><span class="weather-b"></span><span></span></div>
        <div class="api_text"><span class="weather-y"></span><span></span></div>
    </div>
    <div class="weanews">
        <h2>新闻</h2>
        <ul></ul>
    </div>
    <div class="weafooter">
        本页面由<em>小刀天气</em>提供
    </div>
</div>
